* {
    margin: 0;
    padding: 0;
}

.outer {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

}

.slider {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#slideImg {
    width: 100%;
    height: 100%;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    15% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.3);
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    top: 0;
}

.content {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin-left: 10px;
    margin-right: 10px;
}

.nav {
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
}

.item:nth-child(1) {
    flex: 0 0 70%;
    display: flex;
}

.item:nth-child(2) {
    display: flex;
    flex: 0 0 30%;
}

.item .title {
    margin-top: 5px;
    cursor: pointer;
}

.item .nav-items {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    margin-right: 20px;
    margin-top: 10px;
    transition: all 0s ease;
    cursor: pointer;
    font-size: large;
}

.item .nav-items:hover {
    border: 2px solid white;
    border-radius: 50px;
}


.section {

    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.section .col {
    flex: 0 0 50%;
    height: 100%;
}

.color {
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.color1 {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section .col:nth-child(1) {
    margin-top: 10%;
    text-align: center;

}

.music {
    font-weight: 900;
    font-size: xx-large;
}

.section .col:nth-child(1) h1 {
    margin-bottom: 15%;
}

.section .col:nth-child(2) {
    margin-left: 70px;
    overflow: hidden;
}

.section .col img {
    width: 40%;
    height: 40%;
    display: absolute;
}

.section .col img:nth-child(1) {
    border-radius: 50%;
    padding-left: 10%;
    width: 300px;
    height: 300px;
    position: relative;
    top: 0;

}

.section .col img:nth-child(2) {
    border-radius: 50%;
    padding-right: 10%;
    width: 300px;
    height: 300px;
    margin-left: -10%;
    top: 30%;
    position: absolute;

}

.section .col img:nth-child(3) {
    border-radius: 50%;
    padding-right: 5%;
    width: 300px;
    height: 300px;
    display: flex;
    position: absolute;
    justify-content: center;
    padding-left: 1.5%;
    top: 50%;
}

button {
    cursor: pointer;
    color: white;
    background-color: green;
    border: 5px solid green;
    border-radius: 50px;
    font-size: medium;
    padding: 10px 20px;
    transition: all 0.3s ease;
    text-align: center;
}

button:hover {
    color: green;
    border: 5px solid darkgreen;
    background-color: white;
    font-weight: 600;
}

@media (min-width:1564px) {
    .section .col:nth-child(1) h1 {
        margin-bottom: 15%;
    }

    button {
        font-size: x-large;

    }

    .section .col img:nth-child(1),
    .section .col img:nth-child(2),
    .section .col img:nth-child(3) {
        width: 400px;
        height: 400px;
    }

    .section .col img:nth-child(2) {
        margin-left: -7%;
    }

    .section .col img:nth-child(3) {
        top: 45%;
    }

    .col:nth-child(1) h1 {
        font-size: xx-large;
    }

    .music {
        font-weight: bolder;
        font-size: 200%;
    }


}

@media (max-width:1563px) {

    .section .col img:nth-child(1),
    .section .col img:nth-child(2),
    .section .col img:nth-child(3) {
        width: 400px;
        height: 400px;
    }

    .section .col img:nth-child(1) {
        top: 10%;
    }

    .section .col img:nth-child(2) {
        margin-left: -10%;
    }

}

@media (max-width:1494px) {

    .section .col img:nth-child(1),
    .section .col img:nth-child(2),
    .section .col img:nth-child(3) {
        width: 300px;
        height: 300px;
    }

}

@media (max-width:1195x) {
    .item:nth-child(1) {
        display: flex;
        flex: 0 0 50%;
        flex-shrink: 3;
    }

    .item:nth-child(2) {
        display: flex;
        flex: 0 0 50%;
        flex-shrink: 0;
        justify-content: flex-start;
    }
}

@media (max-width:985px) {
    .section .col img:nth-child(1) {
        top: 5%;
    }

    .section .col img:nth-child(2) {
        margin-left: -7%;
    }
}


@media (max-width:930px) {
    .content .section .col:nth-child(2) {
        display: none;
    }

    .content .section .col:nth-child(1) {
        padding-top: 10%;
        flex: 0 0 100%;
    }


}